body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    text-align: right;
}
a {
    margin: 3px;
}
.searchBody {
    display: flex; 
    justify-content: center; 
    text-align: center; 
    margin: auto;
    width: 50%;
    padding: 10px;
}
input {
    display: flex; 
    border-radius: 15px; 
    margin: 5px;
}
form {
    width: 500px;
}
.search_input {
    width: 95%;
}
.submit {
    display: inline-block;
    justify-content: center; 
    text-align: center; 
    margin: auto;
    
}
.button {
    display: inline-block;   
}
.text {
    display: flex;
    margin-left: 5px;
    text-align: left;
}
#advsearch {
    color: white;
    background-color: blue;
}

