{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if messages %}
    <ul class="messages" style="list-style-type: none;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Create New Entries</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save">
    </form>

{% endblock %}